<h1>All Interviews</h1>
Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="title">Alphabetical</option>
</select>

<ul class="interviewVideo">
 <li ng-repeat="vid in interviewVideos | filter:query | orderBy:orderProp" class="thumbnail">
   <h2>Title: {{vid.title}}</h2>
   <iframe width='560' height='315' ng-src="{{trustSrc(vid.link)}}" frameborder='0' allowfullscreen></iframe>
   <p>About: {{vid.description}}</p>
 </li>
</ul>
