Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>


<ul class="phones">
 <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
   <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
   <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
   <p>{{phone.snippet}}</p>
 </li>
</ul>
